<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- Set the logging level for your application -->
    <property name="LOG_LEVEL" value="INFO" />

    <!-- Console appender for logging to the console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS, Asia/Kolkata} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for logging to a file -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/spring-boot-app.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS, Asia/Kolkata} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration to log both to console and file -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
<!--        <appender-ref ref="rollingFile" />-->
    </root>

    <!-- Optionally, configure loggers for specific packages or classes -->
    <!--    <logger name="com.bandhanbank.esb.accounts" level="INFO" />-->

</configuration>
